<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <form id="submitForm">
      <input
        type="text"
        dd
        id="secretInput"
        placeholder="Enter secret name"
        autocomplete="off"
      />
      <button>Get Secret</button>
    </form>
    <div id="showSecret"></div>
    <p>Everybody have them</p>
    <p>Dont be so shy</p>
    <!-- Form für die zwei neuen Inputfelder -->
    <form id="addForm">
      <input type="text" id="keyInput" placeholder="key" />
      <input type="password" id="valueInput" placeholder="value" />
      <button>CreateSecret</button>
    </form>

    <script>
      const secretInput = document.querySelector("#secretInput");
      const submitForm = document.querySelector("#submitForm");
      const showSecret = document.querySelector("#showSecret");
      // Eventlistenerr für die neuen

      const keyInput = document.querySelector("#keyInput");
      const valueInput = document.querySelector("#valueInput");
      const addForm = document.querySelector("#addForm");

      function handleSubmit(event) {
        event.preventDefault();
        const url = `/${secretInput.value}`;
        fetch(url)
          .then(response => response.text())
          .then(secret => {
            showSecret.innerHTML = secret;
          });
      }

      function handleCreate(event) {
        event.preventDefault();

        const url = `/${keyInput.value}`;
        fetch(url, {
          method: "POST",
          body: valueInput.value
        });

        // const secret = {};
        // secret[keyInput.value] = valueInput.value;
        // console.log(secret);
      }
      // async function handleSubmit(event) {
      //   event.preventDefault();

      //   const url = `/${secretInput.value}`;
      //   const secret = await fetch(url).then(response => response.text());
      //   showSecret.innerHTML = secret;
      // }

      submitForm.addEventListener("submit", handleSubmit);
      addForm.addEventListener("submit", handleCreate);
    </script>
  </body>
</html>
